body{
background: url('background.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
margin: 0 !important;
background-size: 100% cover!important;
overflow:hidden;
display: block;
} 

/* Set a style for the rest of the elements besides the header elements on the index.html page */
/*All Posts and Create Post buttons formatting*/
.postSecButtons{
background-color:rgb(207,181,59);
color:black;
height:40px;
margin:5px 5px 0px 5px;
width:110px;
align-self:center;
font-size:16px;
font-weight: bold;
margin-top:155px;
}

/*All Posts and Create Post buttons container division formatting*/
.postButtons {
   display: flex; 
   justify-content: center;
}

/*All post button size adjustment*/
#allPost {
width:90px;
}

/*x close buttong on modal dialog boxes*/
.close{
float:right;
}

/*Text box in Create post for Title field*/
#postTitle{
height:25px;
}

/*Text box in Create post for Content field*/
#postContent{
height:250px;
}