body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

/* Set a style for the rest of the elements besides the header elements on the index.html page */
.postSecButtons{
   background-color:rgb(207,181,59);
   color:black;
   height:40px;
   margin:5px 5px 0px 5px;
   width:100px;
   align-self:center;
   font-weight: bold;
   margin-top:170px;
}         
.postButtons {
     display: flex; 
     justify-content: center;
}
.close{
   float:right;
}
.modal-title{
font-family:'Itim',Bold;
font-size:30px;
}
.form-group{
   font-family:'Itim';
}

.modalButtons{
   background-color: rgb(94,183,98);
   color:white;
   font-family:'Itim';
   font-size:20px;
   display:block;
   border-radius: 6px;
   margin:0px;
   width:100%
}
.modal-footer{
   display: flex; 
   justify-content: center;
   flex-direction: row;
   margin:0px;
}
.redirection{
padding:0px;
margin-bottom:10px;
display: flex; 
justify-content: center;
font-weight:bold;
}
.modal-dialog {
          width: 360px !important;
          height:600px !important;
}

a {
   cursor: pointer;
   }