body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

/* Set a style for the rest of the elements besides the header elements on the index.html page */
.postSecButtons{
   background-color:rgb(207,181,59);
   color:black;
   height:30px;
   margin:5px 5px 0px 5px;
   width:80px;
   align-self:center;
   font-weight: bold;
   }         
   
   .postButtons {
      display: flex; justify-content: center; 
   }
