:root{
    --main-content-margin:24px;
    --postpage-button-color:#F02875;
    --inter-element-margin:12px;
}
.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    width:100%;
    text-align: center;
    margin-bottom:8px;
}
.blogText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    text-align-last:initial;
}
.blogAuthor {
    padding: 0px 0px 0px 0px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    width:100%;
    text-align: justify;
    
}
.blogContent{
margin:var(--main-content-margin);
}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */


.postPageButton{
    background-color: var(--postpage-button-color);
    border:none;
    box-shadow: 0px 8px 15px rgba(246, 136, 178, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    color:#FFFFFF;
    font-family: Helvetica;
    text-align: center;
    font-size: 12pt;
    padding: 12px 20px;
    border-radius: 5px;
}
.postPageButton:hover {
    background-color: var(--postpage-button-color);
    box-shadow: 0px 15px 20px rgba(246, 136, 178, 0.4);
    transform: translateY(-7px);
    color:#000000;
    font-family: Helvetica;
}

#editContentButton{
    margin-top: 24px;
    height:40px;
    text-align: center;
}

#blogAuthorName{
    margin-left: 0px;
}
#blogEditArea{
    display:none;
    width:100%;
    margin-bottom: var(--inter-element-margin);
}

#blogTitle{
    border-color: #ffffff;
    margin: auto;
    width: 50%;
}

#addCommentArea{
    width: 70%;
    margin-bottom: var(--inter-element-margin);
    margin-top: var(--inter-element-margin);
}
#commentList{
    background-color: #f0f0f2;
    padding:10px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.commentListElement{
    background-color: #FFFFFF;
    padding: 10px; 
    margin:5px;
   text-align: justify; 
   text-align-last: initial;
}


#likeText{
    margin-top:var(--inter-element-margin);
}

